body {
    color: #636363;
    background: url("../images/restaurant.png") repeat;
}
h1, h2 {
    margin-top: 25px;
    margin-bottom: 20px;
}
.date-input {
    width: 150px;
}
#calendar .panel {
    border: none;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}
#calendar .panel-body {
    padding: 0;
    height: 260px;
}

.weekend {
    background-color: rgba(0, 193, 251, 0.17);
    font-weight: bold;
}
.dayoff {
    background-color: rgba(105, 193, 32, 0.17);
    font-weight: bold;
    text-decoration: underline;
}

/* Bootstrap overrides */
.container {
    background-color: white;
    margin-top: 30px;
}
.navbar {
    min-height: 10px;
}
.nav-tabs {
    margin-bottom: 20px;
}
#days .btn {
   margin-bottom: 20px;
}
.glyphicon {
    top: 2px;
}
.glyphicon-pencil, .glyphicon-trash{
    font-size: 18px;
}
.panel-default > .panel-heading {
    color: inherit;
    text-align: center;
    border: 1px solid rgba(175, 175, 175, 0.73);
}
#calendar .panel {
    border: none;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}
.tooltip-inner {
    background-color: #337AB7;
}